.slider {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-12);
  padding: var(--spacing-12) var(--spacing-4);
  width: 100%;
  user-select: none;
  touch-action: none;
}

.label {
  font-family: var(--font-display);
  font-weight: var(--font-medium);
  font-size: var(--text-sm);
  color: var(--colors-text-300);
  text-align: center;
  letter-spacing: -0.16px;
  white-space: nowrap;
  flex-shrink: 0;
}

.track {
  position: relative;
  flex: 1;
  height: 24px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.unfilled {
  flex: 1;
  height: 4px;
  background-color: var(--colors-alpha-8);
  border-radius: 1000px;
}

.handle {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 24px;
}

.filled {
  flex: 1;
  height: 4px;
  background-color: var(--colors-primary-500);
  border-radius: 1000px;
}

.knob {
  width: 24px;
  height: 24px;
  background-color: var(--colors-misc-white);
  border-radius: 100px;
  box-shadow:
    0px 0.5px 4px 0px rgba(0, 0, 0, 0.12),
    0px 6px 13px 0px rgba(0, 0, 0, 0.12);
  flex-shrink: 0;
}
