.setup {
  display: flex;
  flex-direction: column;
  gap: 17px;
  align-items: flex-start;
  justify-content: center;
  padding: var(--spacing-8);
  background-color: var(--colors-background-100);
  border-radius: var(--radius-12);
  width: 361px;
}

.actions {
  display: flex;
  gap: 8px;
  align-items: flex-start;
  width: 100%;
}

.cancelButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 72px;
  height: 72px;
  flex-shrink: 0;
  border-radius: var(--radius-full);
  background-color: var(--colors-alpha-4);
  backdrop-filter: blur(6.5px);
  color: var(--colors-text-800);
  padding: var(--spacing-20) var(--spacing-20);
}

.cancelButton svg {
  width: 32px;
  height: 32px;
}

.actions > button:last-child {
  flex: 1;
}
