.progressUnit {
  width: 37px;
  height: 6px;
  border-radius: var(--radius-full);
  transition: background-color 0.2s ease;
}

.static {
  background-color: var(--colors-alpha-8);
}

.active {
  background-color: var(--colors-primary-500);
}
