.card {
  display: flex;
  flex-direction: column;
  padding: var(--spacing-8);
  border-radius: var(--radius-20);
  width: 345px;
}

.active {
  background-color: var(--colors-primary-50);
  gap: 45px;
}

.inactive {
  background-color: var(--colors-alpha-4);
  gap: 8px;
}

.inner {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: var(--spacing-8);
}

.description {
  font-family: var(--font-display);
  font-weight: var(--font-bold);
  font-size: var(--text-md);
  line-height: var(--leading-md);
  white-space: pre-wrap;
}

.active .description {
  color: var(--colors-text-800);
}

.inactive .description {
  color: var(--colors-text-300);
}

.ingredients {
  display: flex;
  flex-direction: column;
  width: 100%;
}
