.unit {
  display: flex;
  align-items: center;
  height: 52px;
  padding: 8px 32px;
  background-color: var(--colors-text-50);
  border-radius: var(--radius-8);
}

.label {
  font-family: var(--font-text);
  font-weight: var(--font-medium);
  font-size: var(--text-sm);
  line-height: var(--leading-tight);
  letter-spacing: -0.16px;
  color: var(--colors-text-800);
  white-space: nowrap;
}
